*.egg-info/
__pycache__/
build-*/
dist/
node_modules
uploads
./config
base-uploads
docs/build
yarn-error.log
cli/build/
.idea/
*.iml
coverage/
coverage
config.local.ci
zsh-autosuggestions/
dump.rdb
.config.swp
serverless/.webpack
out/


# Apps are in their own repo
clay-apps

.vscode/settings.json
*.sql
!**/migrations/**/*.sql
.eslintcache
.DS_Store

.history
tsconfig.tsbuildinfo
